@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth text-black-1d;
  }

  body {
    @apply flex flex-col min-h-screen;
  }

  button,
  a,
  path,
  img,
  svg,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply transition-all duration-300 disabled:opacity-50;
  }

  .confBlock .privacy-policy-link {
    @apply underline hover:text-green-hover;
  }

  input,
  textarea {
    @apply ring-0 outline-none;
  }
}

@layer components {
  #handleMobileMenu.active .closeIcon {
    @apply opacity-100;
  }

  #handleMobileMenu:not(.active) .burgerIcon {
    @apply opacity-100;
  }

  #handleMobileMenu svg {
    @apply absolute opacity-0;
  }

  #contact .listInfo li {
    @apply flex flex-col gap-1.5;
  }

  #contact .listInfo li .title {
    @apply text-lg leading-[23.4px];
  }

  #contact .listInfo li .value {
    @apply font-semibold xl:text-[26px] text-[22px] xl:leading-[33.8px] leading-[28.6px] space-y-1.5 flex flex-col;
  }

  #contact .listInfo li a.value {
    @apply hover:text-main;
  }
}

@layer utilities {
  .container-conf input[type="checkbox"]:checked ~ .icon-checked {
    @apply opacity-100;
  }

  #btnTop.visible {
    @apply z-[1] opacity-100;
  }

  .hover-opacity {
    @apply hover:opacity-75;
  }

  .mobileMenu {
    @apply h-screen fixed inset-0 trans bg-white justify-center opacity-0 transition-all duration-500 items-center z-[2] xl:!hidden backdrop-blur-md hidden w-full;
  }

  address {
    @apply not-italic;
  }

  .mobileMenu.open {
    @apply block opacity-100;
  }

  .swiper-slide {
    @apply select-none cursor-pointer;
  }

  .list-enable ul,
  .list-enable ol {
    @apply list-inside;
  }

  .list-enable ul {
    @apply list-disc;
  }

  .list-enable ol {
    @apply list-decimal;
  }

  @keyframes fadeIn {
    0% {
      @apply opacity-0;
    }

    100% {
      @apply opacity-100;
    }
  }

  .text-transform-inherit {
    text-transform: inherit;
  }

  .modal {
    @apply fixed z-[3] h-screen xl:px-0 px-2.5 w-full bg-black/50 backdrop-blur-md hidden justify-center items-center;
    animation: fadeIn 0.5s ease-out;
  }

  .modal.open {
    @apply flex;
  }

  .closeModal {
    @apply xl:p-2.5 p-1.5 xl:-m-2.5 -m-1.5 flex-shrink-0 xl:top-2.5 top-1.5 xl:right-2.5 right-1.5 absolute flex justify-center items-center;
  }

  .closeModal svg {
    @apply w-6 h-6;
  }

  /* .closeModal svg path {
    @apply stroke-green-15;
  } */

  /* .closeModal:hover svg path {
    @apply stroke-rose-500;
  } */

  .min-scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  .min-scroll::-webkit-scrollbar-track {
    -webkit-border-radius: 14px;
    border-radius: 14px;
  }

  /* Handle */
  .min-scroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 16px;
    border-radius: 16px;
    @apply bg-[#6F9F48];
  }

  .min-scroll::-webkit-scrollbar-thumb:window-inactive {
    @apply bg-[#6F9F48];
  }

  .trans {
    @apply transition-all duration-500;
    transition-behavior: allow-discrete;
    animation: fadeIn 0.5s ease-out;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}
